---
http_interactions:
- request:
    method: get
    uri: https://api.hipchat.com/v2/user?auth_token=token&max-results=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1456950285'
    body:
      encoding: ASCII-8BIT
      string: '{"items": [{"id": 1, "links": {"self": "https://api.hipchat.com/v2/user/1"},
        "mention_name": "Foo", "name": "Foo Lol", "version": "00000000"},
        {"id": 2, "links": {"self": "https://api.hipchat.com/v2/user/2"},
        "mention_name": "Stable", "name": "Stable Man", "version": "00000000"}],
        "links": {"self": "https://api.hipchat.com/v2/user"}, "maxResults": 1000,
        "startIndex": 0}'
  recorded_at: Wed, 02 Mar 2016 20:19:47 GMT
- request:
    method: get
    uri: https://api.hipchat.com/v2/user?auth_token=token&max-results=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1456950285'
    body:
      encoding: ASCII-8BIT
      string: '{"items": [{"id": 2, "links": {"self": "https://api.hipchat.com/v2/user/2"},
        "mention_name": "NewStable", "name": "Not So Stable Anymore", "version": "00000000"},
        {"id": 3, "links": {"self": "https://api.hipchat.com/v2/user/3"},
        "mention_name": "Bar", "name": "Bar Wut", "version": "00000000"}],
        "links": {"self": "https://api.hipchat.com/v2/user"}, "maxResults": 1000,
        "startIndex": 0}'
  recorded_at: Wed, 02 Mar 2016 20:19:47 GMT
recorded_with: VCR 3.0.0
