---
http_interactions:
- request:
    method: get
    uri: https://api.hipchat.com/v2/user?auth_token=token&max-results=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1456942284'
    body:
      encoding: ASCII-8BIT
      string: '{"items": [{"id": 1, "links": {"self": "https://api.hipchat.com/v2/user/1"},
        "mention_name": "Foo", "name": "FooBar", "version": "00000000"}],
        "links": {"self": "https://api.hipchat.com/v2/user"}, "maxResults": 1000,
        "startIndex": 0}'
  recorded_at: Wed, 02 Mar 2016 18:06:26 GMT
recorded_with: VCR 3.0.0
