---
http_interactions:
- request:
    method: post
    uri: https://api.hipchat.com/v2/room/Da%20Room/notification?auth_token=token
    body:
      encoding: UTF-8
      string: '{"message":"Test","from":"GOD","notify":true,"color":"red"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.hipchat.com/v2/room/2506770/history/55f39edd-e2bc-4c95-8997-0b8d095c3c82
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1457051286'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Mar 2016 00:23:05 GMT
recorded_with: VCR 3.0.0
